html, body{
    height: 100%;
}
.container {
    min-height: 100%;
    overflow: hidden;
}

.hero{
    background-color: grey;
    justify-content: center;
    text-align: center;
    height:5rem;

}
h1 {
    padding-top: 10px;
    color: white;
}
h3 {
    padding: 1rem;


}

.col-4 {
    background-color: gainsboro;
    margin-top: 5px;
    width: 100%;
}

.col-10 {
    margin-top: 5px;
}

.input-group {
    width: 75%;
}

.container {
    margin: 0;
}

.btn.btn-secondary {
    background-color: lightskyblue
}




  
