html, body{
    height: 100%;
}
.container {
    min-height: 100%;
    overflow: hidden;
}

.hero{
    background-color: grey;
    justify-content: center;
    text-align: center;
    height:5rem;

}
h1 {
    padding-top: 10px;
    color: white;
}
.col-3.col-md-4 {
    background-color:lightskyblue;
    height: 100%;

}